<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>

<body>
    <div class="contenedor contenedor-sm centrado contenedor-error">
        <h1 class="titulo-error">¡Ups! Ha ocurrido un error</h1>
        <p>Algo no ha salido como esperábamos.</p>
        <div class="mt-20">
            <a href="/" class="boton boton-secundario">Volver al inicio</a>
        </div>
    </div>
</body>

</html>